@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0 solid;
}

@layer base {
  html {
    font-family: "inter-variable", system-ui, sans-serif;
    -webkit-font-smoothing: antialiased;
    font-feature-settings: "cv02", "cv03", "cv04", "cv11";
  }

  h1,
  h2,
  h3 {
    @apply text-gray-900;
  }

  h1 {
    @apply text-3xl font-bold;
  }
  h2 {
    @apply text-2xl font-semibold;
  }
  h3 {
    @apply font-semibold;
  }

  input {
    outline-style: solid;
  }
}
