.recipes-page {
  &__header {
    display: flex;
    justify-content: space-between;
    margin-top: 3rem;

    &--right {
      display: flex;
      align-items: center;
      gap: 1rem;
    }
  }

  &__content {
    display: grid;
    grid-template-columns: 280px 1fr;
    grid-template-rows: 44px 1fr;
    column-gap: 5rem;
    row-gap: 1.5rem;
    margin-top: 2.5rem;
  }
}
