@use "../abstracts/" as *;

* {
  box-sizing: border-box;
}

html {
  color: $text-color-primary;
  font-family: Inter;
}

body {
  margin: 0;
  background-color: $primary-light;
}

main {
  padding: 0 $page-padding;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  background: none;
  border: none;
}
