@use "../abstracts/" as *;

.input {
  position: relative;

  input {
    height: 44px;
    width: 100%;
    padding: 10px 14px;
    border: 1px solid $secondary-dark;
    border-radius: 0.5rem;
    color: $primary-dark;
    font-family: inherit;

    &::placeholder {
      color: $secondary-dark;
      font-family: inherit;
    }

    &:focus {
      outline: none;
      border-color: $primary-dark;
    }

    &.background {
      background-color: $primary-white;

      &--transparent {
        background-color: transparent;

        &::placeholder {
          color: $primary-dark;
        }
      }
    }
  }

  .icon {
    position: absolute;
    top: 50%;
    left: 14px;
    transform: translateY(-50%);
  }

  &--icon {
    input {
      padding-left: 44px;
    }
  }
}
